body {
  color: white;
  background-color: #0e475b;
  font-family: "Courier New";
  font-size: 24;
  white-space: pre;
}

#selected {
  color: red;
  font-style: oblique;
}

.background {
  color: grey;
}

.header {
  color: darkgrey;
}

.white_piece {
  color: white;
}

.black_piece {
  color: black;
}
